@model IEnumerable<PladoHPComputerSets.Models.ComputerOrder>

@{
    ViewData["Title"] = "Tracking";
}

<h1>Track Orders</h1>

<p>
    @using (Html.BeginForm("TrackOrder", "ComputerOrders", FormMethod.Get))
    {
        <p>
            Search: @Html.TextBox("searchTerm")
            <input type="submit" value="Search"/>
        </p>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monitor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Case)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monitor)
            </td>
        </tr>
}
    </tbody>
</table>
